@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
  font-family: 'Roboto Mono';
}

.container {
  display: flex;
  margin: auto;
  padding-top: 2%;
}

/* Display/Output area */
#display {
  display: none;
  background-color: rgba(170, 142, 235, 0.918);
  border: 1px solid rgba(255, 255, 255, 0.9);
  width: 104%;
}

.outputBox {
  display: none;
  position: absolute;
  margin-left: 12%;
  padding: 5%;
  height: 75%;
  width: 65%;
  top: 14%;
}

.closeBox {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  padding: 1%;
}

.closed {
  display: none;
}

.popUp {
  display: flex;
  position: absolute;
  padding: 5%;
  width: 80%;
  height: 50vh;
  background-color: rgba(170, 142, 235, 0.918);
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.popUpText{
  position: relative;
  padding: 5%;
  width: 80%;
  height: 42vh;
  overflow: overlay;
}

#arnieImg {
  height: 102%;
}

#apple {
  padding-top: 5%;
  height: 45%;
}

#hackermanImg {
  padding-top: 4%;
  height: 65%;
}

.popUpText {
  padding-left: 5%;
}

/* Form */
#form {
  display: flex;
  margin: auto;
  padding-left: 15%;
  padding-right: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  
}

#button {
  width: 30%;
}

h1, h2, h4 {
  margin: 0;
  padding-bottom: 1%;
}

h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 20px;
}