.container {
  display: flex;
  margin: auto;
}

/* Display/Output area */
#display {
  display: none;
}

.outputBox {
  display: none;
  position: absolute;
  margin-left: 20%;
  height: 50%;
  width: 60%;
  top: 20%;
  background-color: rgba(198, 184, 231, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.closeBox {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  padding: 2%;
  margin-right: 1%;
}

/* Form */
#form {
  display: flex;
  margin: auto;
  padding-left: 15%;
  padding-right: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  
}

#button {
  width: 30%;
}

h1, h2, h4 {
  margin: 0;
  padding-bottom: 3%;
}

h4 {
  margin-bottom: 1rem;
  font-size: 20px;
}